* {
    font-family: sans-serif;
}
thead {
    color: red;
}
table {
    border: 1px solid black;
    text-align: center;
}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}